@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <h1 class="display-4">MERCEDES BENZ</h1>
        <div class="col-6">

            <img src="https://cdn.motor1.com/images/mgl/AbQo9/s1/mercedes-amg-gt-coupe4.jpg" height="250"<P>Brand has long been synonymous with premium luxury.</P>
        </div>


        <div class="row">
            <h1 class="display-4">MERCEDES BENZ</h1>
            <div class="col-4">

                <img src="https://i.redd.it/kk566qurwht21.jpg" height="250" <P>The Maybach brand has long been synonymous with premium luxury.</P>
            </div>


            <div class="row">
                <h1 class="display-4">MERCEDES BENZ</h1>
                <div class="col-4">

                    <img src="https://pictures.topspeed.com/IMG/jpg/201601/2016-mercedes-maybach-s60.jpg" height="250"<P>The Maybach brand has long been synonymous with premium luxury.</P>
                </div>

