@{
    ViewData["Title"] = "Order Now";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
   
    <div class="col-6">
        <h2> G WAGON</h2>
        <img src="https://www.mbusa.com/content/dam/mb-nafta/us/myco/my19/g/byo/options/2019-G-CLASS-SUV-019.jpg" height="250" />"
    </div>

 
    <div class="col-6">
        <h2> S 600</h2>

        <img src="https://pictures.topspeed.com/IMG/jpg/201601/2016-mercedes-maybach-s60.jpg" height="250" />
    </div>
</div>

<div class="row">
    
    <div class="col-6">
        <h2> BRABUS</h2>
        <img src="https://cdn.motor1.com/images/mgl/AbQo9/s1/mercedes-amg-gt-coupe4.jpg" height="250" />"
    </div>

   
    <div class="col-6">
        <h2> GT63</h2>

        <img src="https://i.redd.it/kk566qurwht21.jpg" height="250" />
    </div>
</div>



